@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="text-align: center;font-style: italic">
    @*<p>@Html.ActionLink("Home", "Index", "Home")</p>
    <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
    <p>@Html.ActionLink("Save Department", "Save", "Department")</p>
    <p>@Html.ActionLink("View All Departments", "ViewDepartments", "Department")</p>
    <p>@Html.ActionLink("Save Course", "Save", "Course")</p>
    <p>@Html.ActionLink("Save Teacher", "Save", "Teacher")</p>
    <p>@Html.ActionLink("Course Assign to Teacher", "Assign", "Course")</p>
    <p>@Html.ActionLink("View Course Statics", "ViewCourse", "Course")</p>
    <p>@Html.ActionLink("Register Student", "Register", "Student")</p>
    <p>@Html.ActionLink("Enroll In a Course ", "EnrollCourse", "Student")</p>
    <p>@Html.ActionLink("Save Student Result", "SaveResult", "Student")</p>
    <p>@Html.ActionLink("Unassign All Courses", "UnassignCourse", "Course")</p>

    @*<h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>*@
</div>

@*<div class="row">
    <div class="col-md-4">
        <ul class="nav navbar-nav">*@
          
        
        @*<h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@